    .enginext1-body {
    	color: white;
    	height: auto;
    	min-height: 100%;
    	font-size: clamp(16px, 1.6vw, 30px);
		font-weight: 200;
    	padding: 1vw 2vw;
    	box-sizing: border-box;
    	background:
    		linear-gradient(to right,
    			rgba(0, 0, 0, 0) 0%,
    			rgba(0, 0, 0, 0.5) 100%),
    		#3878C0;
    	background-blend-mode: multiply;
    }

    .enginext1-header-line {
    	width: 100%;
    	height: 1px;
    	background-color: #999;
    }

    .enginext1-content {
    	display: flex;
    	flex-direction: row;
    	width: auto;
    	box-sizing: border-box;
    	padding: 1vw;
    	gap: 1vw;
    }

    /**************************************************************************/
    .enginext1-right {
    	flex: 5;
    	display: flex;
    	flex-direction: column;
    	justify-content: top;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginext1-line-with-img {
    	display: flex;
    	justify-content: space-between;
    	align-items: flex-end;
    	padding-bottom: 1vw;
    	box-sizing: border-box;
    }

    .enginext1-line-with-img h2 {
    	margin: 0;
    }

    .enginext1-line-with-img img {
    	height: 5vw;
    	width: auto;
    	filter: invert(1) brightness(0.8);
    }

    .enginext1-right strong {
    	font-weight: 500;
    }

    .enginext1-right-last {
    	display: flex;
    	align-items: center;
    	gap: 20px;
    	flex-wrap: nowrap;
    }

    .enginext1-last p {
    	margin: 0;
    }

    .enginext1-custom-list {
    	list-style: none;
    	padding: 0;
    	margin: 0;
    }

    .enginext1-custom-list li {
    	margin: 0;
    	padding: 0;
    	line-height: 1.4;
    	position: relative;
    }

    .enginext1-custom-list li::before {
    	content: "●";
    	display: inline-block;
    	width: 1em;
    	margin-right: 2ch;
    	font-size: 0.9em;
    	line-height: 1;
    	vertical-align: middle;
    	color: currentColor;
    }

    /**************************************************************************/
    .enginext1-more-info-container {
    	text-align: right;
		font-size: 0.7em;
    }

    /**************************************************************************/
    .enginext1-divider {
    	width: 1px;
    	background-color: transparent;
    }

    /**************************************************************************/
    .enginext1-left {
    	flex: 5;
    	overflow: hidden;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginext1-img-wrapper {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    }

    .enginext1-img-wrapper img {
    	max-width: 100%;
    	max-height: 100%;
    	object-fit: contain;
    }

    /**************************************************************************/
    @media (max-width: 762px) {
    	.enginext1-content {
    		flex-direction: column;
    		height: auto;
    	}

    	.enginext1-line-with-img img {
    		height: 7vw;
    	}

    	.enginext1-divider {
    		width: 100%;
    		height: 1px;
    		margin: 0 0;
    		display: none;
    	}
    }