    .enginint3-body {
    	/* background-color: #ECF6FF; */
    	color: black;
    	height: auto;
    	min-height: 100%;
    	font-size: clamp(16px, 1.6vw, 30px);
		font-weight: 200;
    	padding: 1vw 2vw;
    	box-sizing: border-box;
    	background:
    		linear-gradient(to right,
    			rgba(0, 0, 0, 0) 0%,
    			rgba(0, 0, 0, 0.015) 100%),
    		#ECF6FF;
    	background-blend-mode: multiply;
    }

    .enginint3-header-line {
    	width: 100%;
    	height: 1px;
    	background-color: #00C;
    }

    .enginint3-content {
    	display: flex;
    	flex-direction: row;
    	width: auto;
    	box-sizing: border-box;
    	padding: 1vw;
    	gap: 1vw;
    }

    /**************************************************************************/
    .enginint3-right {
    	flex: 5;
    	display: flex;
    	flex-direction: column;
    	justify-content: top;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginint3-line-with-img {
    	display: flex;
    	justify-content: space-between;
    	align-items: flex-end;
		padding-bottom: 1vw; 
    	box-sizing: border-box;
    }

    .enginint3-line-with-img h3 {
    	margin: 0;
    }

    .enginint3-line-with-img img {
    	height: 5vw;
    	width: auto;
    }

    .enginint3-right strong {
    	font-weight: bold;
    }

    .enginint3-right-last {
    	display: flex;
    	align-items: center;
    	gap: 20px;
    	flex-wrap: nowrap;
    }

    .enginint3-last p {
    	margin: 0;
    }

    .enginint3-custom-list {
    	list-style: none;
    	padding: 0;
    	margin: 0;
    }

    .enginint3-custom-list li {
    	margin: 0;
    	padding: 0;
    	line-height: 1.4;
    	position: relative;
    }

    .enginint3-custom-list li::before {
    	content: "●";
    	display: inline-block;
    	width: 1em;
    	margin-right: 2ch;
    	font-size: 0.9em;
    	line-height: 1;
    	vertical-align: middle;
    	color: currentColor;
    }

    /**************************************************************************/
    .enginint3-more-info-container {
    	text-align: right;
    }

    /**************************************************************************/
    .enginint3-divider {
    	width: 1px;
    	background-color: #00C;
    }

    /**************************************************************************/
    .enginint3-left {
    	flex: 5;
    	overflow: hidden;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginint3-img-wrapper {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    }

    .enginint3-img-wrapper img {
    	max-width: 100%;
    	max-height: 100%;
    	object-fit: contain;
    }
    /**************************************************************************/
    @media (max-width: 762px) {
    	.enginint3-content {
    		flex-direction: column-reverse;
    		height: auto;
    	}

	    .enginint2-line-with-img img {
	    	height: 7vw;
		}

		.enginint3-divider {
    		width: 100%;
    		height: 1px;
    		margin: 0 0;
    		display: none;
    	}
    }