    .enginint2-body {
    	background-color: #ECF6FF;
    	color: black;
    	height: auto;
    	min-height: 100%;
    	font-size: clamp(16px, 1.6vw, 30px);
		font-weight: 200;
    	padding: 1vw 2vw;
    	/* vertikalne horizontalne*/
    	box-sizing: border-box;
    }

    .enginint2-header-line {
    	width: 100%;
    	height: 1px;
    	background-color: #00C;
    }

    .enginint2-content {
    	display: flex;
    	flex-direction: row;
    	/* width: 100vw; */
    	width: auto;
    	box-sizing: border-box;
    	padding: 1vw;
    	gap: 1vw;
    }

    /**************************************************************************/
    .enginint2-left {
    	flex: 5;
    	display: flex;
    	flex-direction: column;
    	justify-content: top;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginint2-line-with-img {
    	display: flex;
    	justify-content: space-between;
    	align-items: flex-end;
		padding-bottom: 1vw; 
    	box-sizing: border-box;
    }

    .enginint2-line-with-img h2 {
		font-weight: bold;
    	margin: 0;
    }

    .enginint2-line-with-img img {
    	height: 5vw;
    	width: auto;
    }

    .enginint2-left strong {
    	font-weight: 500;
    }

    .enginint2-left-last {
    	display: flex;
    	align-items: center;
    	gap: 20px;
    	flex-wrap: nowrap;
    }

    .enginint2-last p {
    	margin: 0;
    }

    .enginint2-custom-list {
    	list-style: none;
    	padding: 0;
    	margin: 0;
    }

    .enginint2-custom-list li {
    	margin: 0;
    	padding: 0;
    	line-height: 1.4;
    	position: relative;
    }

    .enginint2-custom-list li::before {
    	content: "●";
    	display: inline-block;
    	width: 1em;
    	margin-right: 2ch;
    	font-size: 0.9em;
    	line-height: 1;
    	vertical-align: middle;
    	color: currentColor;
    }

    /**************************************************************************/
    .enginint2-more-info-container {
    	text-align: right;
		font-size: 0.7em;
    }

    /**************************************************************************/
    .enginint2-divider {
    	width: 1px;
    	background-color: transparent;
    }

    /**************************************************************************/
    .enginint2-right {
    	flex: 5;
    	overflow: hidden;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginint2-img-wrapper {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    }

    .enginint2-img-wrapper img {
    	max-width: 100%;
    	max-height: 100%;
    	object-fit: contain;
    	clip-path: inset(0.5% 0 0.5% 0);
    }

    /**************************************************************************/
    @media (max-width: 762px) {
    	.enginint2-content {
    		flex-direction: column;
    		height: auto;
    	}

    	.enginint2-line-with-img img {
    		height: 7vw;
    	}

    	.enginint2-divider {
    		width: 100%;
    		height: 1px;
    		margin: 0 0;
    		display: none;
    	}

    	.enginint2-img1 {
    		left: 10%;
    	}

    	.enginint2-img2 {
    		left: 10%;
    	}
    }