    .enginint1-body {
    	background-color: #F8FCFF;
    	color: black;
    	/* font-weight: 400; */
    	font-size: clamp(16px, 1.6vw, 30px);
		font-weight: 200;
    	display: flex;
    	flex-direction: column;
    	padding: 1vw 2vw;
    	box-sizing: border-box;
    }

    .enginint1-body h2 {
    	margin-bottom: 0.3em;
    }

    p.enginint1-big {
    	font-size: 105%;
    }

    strong.enginint1-big {
    	font-size: 110%;
    }

    .enginint1-body p {
    	margin-top: 0.5em;
    	margin-bottom: 0.4em;
    }

    .enginint1-great-p {
    	font-size: 2.3vw;
    	line-height: 1.6;
    }

    .enginint1-header-line {
    	width: 100%;
    	height: 1px;
    	background-color: #00C;
    }

    .enginint1-content {
    	flex: 1;
    	display: flex;
    	padding-top: 1vw;
    }

    /******************************************************************/
    .enginint1-left {
    	flex: 1;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	padding: 1vw;
    	box-sizing: border-box;
    }

    .enginint1-img-wrapper {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 100%;
    	height: 100%;
    }

    .enginint1-img-wrapper img {
    	max-width: 100%;
    	max-height: 100%;
    	object-fit: contain;
    }

    .enginint1-divider {
    	width: 1px;
    	background-color: transparent;
    	margin: 0 10px;
    }

    /******************************************************************/
    .enginint1-right {
    	flex: 1;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	padding: 1vw;
    	padding-top: 0;
    	box-sizing: border-box;
    }

    .enginint1-right strong {
    	font-weight: 500;
    }

    .enginint1-right h3 {
    	margin: 0;
    }

    .enginint1-icon-row {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	gap: 2vw;
    }

    .enginint1-logo-wrapper {
    	width: clamp(100px, 14vw, 220px);
    	height: clamp(40px, 5.6vw, 88px);
    	display: flex;
    	align-items: center;
    	justify-content: center;

    	border: 1px solid #333;
    	border-radius: 6px;
    	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    	padding: 0.3vw;
    	background: #fff;
    	box-sizing: border-box;
    }

    .enginint1-logo-wrapper img {
    	width: 100%;
    	height: 100%;
    	object-fit: contain;
    	display: block;
    }

    /******************************************************************/
    .enginint1-hexagon {
    	position: relative;
    	width: clamp(100px, 14vw, 220px);
    	/* aspect-ratio: 1 / 0.866; */
    	/* pre pravidelny hexagon */
    	aspect-ratio: 56 / 39;
    	background: inherit;
    	padding: 0.3vw;
    	box-sizing: border-box;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	overflow: visible;
    }

    .enginint1-hexagon::after {
    	content: "";
    	position: absolute;
    	inset: 0;
    	pointer-events: none;
    	/* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6"><polygon points="25,0 75,0 100,43.3 75,86.6 25,86.6 0,43.3" fill="none" stroke="black" stroke-width="1"/></svg>'); */
    	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.6"><polygon points="12.5,0 87.5,0 112.5,43.3 87.5,86.6 12.5,86.6 -12.5,43.3" fill="none" stroke="black" stroke-width="1"/></svg>');
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
    	background-position: center;
    }

    .enginint1-hexagon img {
    	max-width: 100%;
    	max-height: 100%;
    	object-fit: contain;
    	display: block;
    }

    /******************************************************************/
    @media (max-width: 762px) {
    	.enginint1-body {
    		min-height: auto;
    	}

    	.enginint1-content {
    		flex-direction: column;
    		align-items: center;
    		padding-top: 0;
    	}

    	.enginint1-left {
    		padding: 0 0;
    		width: 100%;
    		justify-content: center;
    	}

    	.enginint1-divider {
    		width: 95%;
    		height: 1px;
    		margin: 0 0;
    		display: none;
    	}

    	.enginint1-right {
    		width: 100%;
    		padding: 15px 20px;
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    	}
    }