    .it2-grid-body {
      font-family: "Poppins", "Open sans", Arial, Tahoma, sans-serif;
      font-weight: 200;   
      background-color: white;
      color: black;
      /* padding: 4vw 6vw; */
      width: 100%;
      box-sizing: border-box;
    }

    .it2-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "p1 t2 p3"
        "t1 p2 t3";
      gap: 0;
      width: 100%;
    }

    /* Grid items */
    .it2-grid-item-pic {
      aspect-ratio: 9 / 10;
      overflow: hidden;
      margin: 0;
      position: relative;
    }

    .it2-grid-item-pic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    .it2-grid-item-txt {
      margin: 1vw;
      padding: 3vw;
      text-align: left;
      /* border: 1px dashed black; */
    }

    .it2-grid-item-txt h2 {
      font-size: 2.6vw;
      font-weight: 500;
      margin: 0 0 3vw 0; /* bottom */
      color: black;
    }

    .it2-grid-item-txt p {
      font-size: 1.5vw;
      /* font-weight: 200; */
      color: #000;
      line-height: 1.8;
    }

    /* Grid area assignment */
    .p1 { grid-area: p1; }
    .p2 { grid-area: p2; }
    .p3 { grid-area: p3; }
    .t1 { grid-area: t1; }
    .t2 { grid-area: t2; }
    .t3 { grid-area: t3; }

    /* Responsívny režim */
    @media (max-width: 600px) {
      .it2-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
          "p1"
          "t1"
          "p2"
          "t2"
          "p3"
          "t3";
      }

      .it2-grid-item-txt h2 {
        font-size: 5vw;
      }

      .it2-grid-item-txt p {
        font-size: 3.5vw;
      }
    }

    /* pre sipku svg */
    .it2-arrow-link {
      display: inline-block;
      cursor: pointer;
      margin-bottom : 2rem;
    }

    .it2-arrow {
      width: 60px;
      height: 60px;
      transition: transform 0.5s ease;
      transform-origin: center center;
    }

    .it2-arrow-link:hover .arrow {
      transform: rotate(-45deg) scale(1.2);
    }

