    .it2-body {
    	font-family: "Poppins", "Open sans", Arial, Tahoma, sans-serif;
    	font-weight: 200;
    	background-color: #F6FCFF;
    	color: black;
    	padding: 2vw 4vw;
    	width: 100%;
    	box-sizing: border-box;
    }

    .it2-body h2 {
    	font-size: 2.6vw;
    	font-weight: 500;
    	margin: 0 0 1vw 0;
    	/* bottom */
    }

    .it2-line {
    	height: 1px;
    	background-color: #999;
    	width: 100%;
    	margin: 0 0 1vw 0;
    }

    .it2-grid {
    	display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-areas:
    		"p1 t2 p3"
    		"t1 p2 t3";
    	gap: 0;
    	width: 100%;
    	/* border: 1px dashed red; */
    }

    /* Grid items */
    .it2-grid-item-pic {
    	aspect-ratio: 9 / 10;
    	overflow: hidden;
    	margin: 0;
    	position: relative;
    }

    .it2-grid-item-pic img {
    	width: 100%;
    	height: 100%;
    	object-fit: cover;
    	object-position: center;
    	display: block;
    }

    .it2-grid-item-txt {
    	padding: 2vw;
    	text-align: left;
    	/* border: 1px dashed black; */
    }

    .it2-grid-item-txt h2 {
    	font-size: 2.2vw;
    	font-weight: 500;
    	margin: 0 0 3vw 0;
    	/* bottom */
    }

    .it2-grid-item-txt p {
    	font-size: 1.2vw;
    	line-height: 1.8;
    }

    /* Grid area assignment */
    .p1 {
    	grid-area: p1;
    }

    .p2 {
    	grid-area: p2;
    }

    .p3 {
    	grid-area: p3;
    }

    .t1 {
    	grid-area: t1;
    }

    .t2 {
    	grid-area: t2;
    }

    .t3 {
    	grid-area: t3;
    }

    /* Responsívny režim */
    @media (max-width: 600px) {
		.it2-body h2 {
			font-size: 6vw;
		}

    	.it2-grid {
    		grid-template-columns: 1fr;
    		grid-template-areas:
    			"p1"
    			"t1"
    			"p2"
    			"t2"
    			"p3"
    			"t3";
    	}

    	.it2-grid-item-txt h2 {
    		font-size: 5vw;
    	}

    	.it2-grid-item-txt p {
    		font-size: 3.5vw;
    	}
    }

    /* pre sipku svg */
    .it2-arrow-link {
    	display: inline-flex;
    	/* Flex pre horizontálne zarovnanie text + šípka */
    	/* align-items: center; */
    	align-items: flex-end;
    	/* <--- dôležité zarovnanie na spodok */
    	gap: 0.5rem;
    	cursor: pointer;
    	margin-bottom: 2rem;
    	text-decoration: none;
    	color: inherit;
    }

    .it2-arrow {
    	width: 60px;
    	height: 60px;
    	transition: transform 0.5s ease;
    	transform-origin: center center;
    }

    .it2-arrow-text {
    	font-size: 1rem;
    	font-weight: 500;
    }

    .it2-arrow-link:hover .it2-arrow {
    	transform: rotate(45deg) scale(1.2);
    }

    /* !!! kľúčová zmena: aktivátor je .it2-arrow-link:hover */
    .it2-arrow-link:hover .animate-text-underline::after {
    	transform: scaleX(1);
    }