   .it3-body {
   	font-family: "Poppins", "Open sans", Arial, Tahoma, sans-serif;
   	font-weight: 200;
   	background-color: #ECF6FF;
   	color: black;
   	padding: 2vw 4vw;
   	width: 100%;
   	box-sizing: border-box;
   }

   .it3-body h1 {
   	font-size: 2.6vw;
   	font-weight: 500;
   	margin: 0 0 2vw 0;
   	text-align: left;
   }

   /* .it3-body h3 {
   	font-size: 2.2vw;
   	font-weight: 300;
   	margin: 0 0 2vw 0;
   	text-align: left;
   }
 */
   .it3-line {
   	height: 1px;
   	background-color: #999;
   	width: 100%;
   	margin: 0 0 1vw 0;
   }

   .it3-heading-back-row {
   	/* kvoli odkazu [back] */
   	display: flex;
   	justify-content: space-between;
   	align-items: baseline;
   }

   /*****************************************************************************************************************/
   .it3-grid {
   	display: grid;
   	grid-template-columns: 1fr 1fr;
   	grid-template-areas:
   		"p1 t1"
   		"t2 p2"
   		"p3 t3";
   	/* gap: 1vw; */
   	width: 100%;
   }

   /* Grid items */
   .it3-grid-item-pic {
   	aspect-ratio: 10 / 9;
   	overflow: hidden;
   	padding: 1vw;
   	margin: 0;
   	position: relative;
   }

   .it3-grid-item-pic img {
   	width: 100%;
   	height: 100%;
   	object-fit: cover;
   	object-position: center;
   	display: block;
   }

   .it3-grid-item-txt {
   	margin: 1vw;
   	padding: 1vw;
   	text-align: left;
   	/* border: 1px dashed black; */
   }

   .it3-grid-item-txt h2 {
   	font-size: 2vw;
   	font-weight: 500;
   	/* letter-spacing: 0.5vw; */
   	margin: 0 0 1vw 0;
   	/* bottom */
   	/* color: black; */
   }

   .it3-grid-item-line {
   	height: 1px;
   	background-color: #999;
   	width: 0;
   	/* bude sa animovat (rast do 100%) */
   	margin: 0 0 1.5vw 0;
   }

   .it3-grid-item-txt p {
   	font-size: 1.5vw;
   	/* color: #000; */
   	line-height: 1.8;
   }

   /*******************************************************************************************************/
   .it3-more-info-container {
   	text-align: right;
   	/* zarovnanie obsahu doprava */
   }

   /* Grid area assignment */
   .p1 {
   	grid-area: p1;
   }

   .p2 {
   	grid-area: p2;
   }

   .p3 {
   	grid-area: p3;
   }

   .t1 {
   	grid-area: t1;
   }

   .t2 {
   	grid-area: t2;
   }

   .t3 {
   	grid-area: t3;
   }

   /* Responsívny režim ******************************************************************************/
   @media (max-width: 600px) {
	.it3-body h1 {
		font-size: 6vw;
	}

	.it3-grid {
   		grid-template-columns: 1fr;
   		grid-template-areas:
   			"p1"
   			"t1"
   			"p2"
   			"t2"
   			"p3"
   			"t3";
   	}

   	.it3-grid-item-txt h2 {
   		font-size: 5vw;
   	}

   	.it3-grid-item-txt p {
   		font-size: 3.5vw;
   	}
   }