    .kariera-pagination button { margin: 0 4px; }
    .kariera-container {
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 1.1rem;
      color: white;
      background: linear-gradient(to right, #1a3a6e, #3f6db0);
      text-align: center;
      padding: 20px;
      /* border: 2px dashed red; */
    }

    .kariera-container h2 {
      text-align: center;
      font-size: 2rem;
    }

    .kariera-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
    }

    .kariera-button {
      background-color: #1a3a6e;
      color: white;
      border: none;
      border-radius: 30px;
      padding: 12px 24px;
      font-size: 1.1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .kariera-button.active {
      background-color: black;
    }

    .kariera-button.inactive {
      background-color: #1a3a6e;
    }

    .kariera-button:hover {
      background-color: #142c53;
    }

    .kariera-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      width: 60%;
      margin: 0 auto 30px;
    }

    .kariera-grid-item {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.05);
      border: 2px solid #aac0e4;
      border-radius: 12px;
      padding: 20px;
      transition: transform 0.3s;
      box-shadow: inset 1px 1px 3px rgba(255,255,255,0.2), inset -1px -1px 3px rgba(0,0,0,0.2);
    }

    .kariera-inner-grid {
        display: grid;
        grid-template-columns: 8fr 3fr;
        gap: 10px;
        align-items: stretch; /* Zabrání vertikálnemu natiahnutiu */
    }

    .kariera-grid-item:hover {
      transform: scale(1.05);
    }

    .kariera-job-left {
      text-align: left;
    }

    .kariera-job-left h2 {
      font-size: 1.3rem;
      text-align: left;
      margin: 10px 0 5px;
    }

    .kariera-job-left p {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .kariera-job-left .date {
      font-size: 0.85rem;
      color: #cccccc;
      font-weight: normal;
    }

    .kariera-job-right {
      display: flex;
      justify-content: flex-end;     /* button bude vpravo */
      align-items: flex-end;         /* button bude dolu */
      height: 100%;                  /* potrebné, aby flexbox mal čo tlačiť */
    }

    .kariera-see-more {
      background-color: #142c53;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 30px;
      padding: 12px 24px;
      font-size: 1.1rem;
      cursor: pointer;
      transition: all 0.3s;
      align-self: flex-end;  /* Dodatočné poistenie proti stretch efektu */
    }

    .kariera-see-more:hover {
      background-color: white;
      color: #1a3a6e;
    }
/************************************************************************************/
    .kariera-detail {
      text-align: left;
      padding-top: 100px;
    }
    
    .kariera-footer {
      text-align: center;
      margin-top: 30px;
    }

    .kariera-footer a {
      color: white;
      text-decoration: underline;
      font-size: 1rem;
    }
/*************************************************************************************/
    @media (max-width: 900px) {
      .kariera-buttons {
        flex-direction: column;
        align-items: center;
      }
      .kariera-grid {
        width: clamp(400px, 95%, 540px);
      }
      .kariera-inner-grid {
          display: grid;
          grid-template-columns: 1fr;
      }
      .kariera-button {
        font-size: 1rem;
        padding: 10px 20px;
      }
      .kariera-see-more {
        font-size: 1rem;
        align-self: flex-end;
      }
    }

    @media (max-width: 500px) {
      .kariera-grid {
        width: 95%;
      }
    }
