    .onas2-body {
    	padding: 1vw;
    	background-color: white;
    	color: black;
    	/* margin-top: 2vw; */
    	box-sizing: border-box;
    }

    .onas2-header-line {
    	width: 100%;
    	height: 1px;
    	background-color: #00C;
    	margin-bottom: 1vw;
    }

    .onas2-flex-container {
    	display: flex;
    	flex-direction: row;
    	width: 100%;
    	gap: 1vw;
    	align-items: center;
    	flex-wrap: nowrap;
    	box-sizing: border-box;
    }

    .onas2-left,
    .onas2-right {
    	padding-inline: 1vw;
    	flex: 0 0 49%;
    	box-sizing: border-box;
    }

    .onas2-left {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    }

    .onas2-left p {
    	font-size: calc(0.6rem + 0.7vw);
    	color: black;
    	line-height: 1.2;
    }

    .onas2-left strong {
    	font-weight: bold;
    }

    .onas2-left-last {
    	display: flex;
    	align-items: center;
    	gap: 20px;
    	flex-wrap: nowrap;
    }

    .onas2-left-last p {
    	margin: 0;
    }

    /* Pečiatka s fixnými rozmermi a pridaným marginom vpravo */
    .onas2-official-stamp {
    	display: block;
    	height: calc(1em * 4.5 * 1.2);
    	width: auto;
    	margin-right: 20px;
    	object-fit: contain;
    }

    /*******************************************************************************************/
    .onas2-img-wrapper {
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    }

    .onas2-img img {
    	width: 100%;
    	object-fit: contain;
    	display: block;
    }

    /*******************************************************************************************/
    @media (max-width: 768px) {
    	.onas2-body {
    		min-height: auto;
    	}

    	.onas2-flex-container {
    		flex-direction: column;
    		align-items: center;
    		padding-top: 0;
    	}

    	.onas2-left,
    	.onas2-right {
    		flex: 0 0 100%;
    	}
    }