    .onas1-body {
    	padding: 1vw;
    	background-color: #E8F4FF;
    	color: black;
    	/* margin-top: 2vw; */
    	box-sizing: border-box;
    }

    .onas1-header-line {
    	width: 100%;
    	height: 1px;
    	background-color: #00C;
		margin-bottom: 1vw;
    }

    .onas1-flex-container {
    	display: flex;
    	flex-direction: row;
    	width: 100%;
    	gap: 1vw;
    	align-items: center;
    	flex-wrap: nowrap;
    	box-sizing: border-box;
		/* border: 1px dashed red; */
    }

    .onas1-left,
    .onas1-right {
    	flex: 0 0 49%;
    	box-sizing: border-box;
    }

	.onas1-left {
		padding: 4vw;
	}

    .onas1-img-wrapper {
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    }

    .onas1-img img {
    	width: 100%;
    	object-fit: contain;
    	display: block;
    }

    /*******************************************************************************/
    .onas1-right {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	padding: 1vw;
    }

    .onas1-right p {
    	font-size: calc(0.6rem + 0.7vw);
    	color: black;
    	line-height: 1.2;
    }

    .onas1-right strong {
    	font-weight: bold;
    }

    /*******************************************************************************/
    @media (max-width: 768px) {
    	.onas1-body {
    		min-height: auto;
    	}

    	.onas1-flex-container {
    		flex-direction: column-reverse;
    		align-items: center;
    		padding-top: 0;
    	}

    	.onas1-left {
    		flex: 0 0 100%;
    		width: 100%;
    		justify-content: center;
    	}

    	.onas1-right {
    		flex: 0 0 100%;
    	}
    }