.ref2-body {
  margin: 0;
  padding: 2rem;
  background-color: #f8f8f8;
  color: #333;
}

.ref2-body p {
  font-size: larger;
}
.ref2-body h2 {
  font-size: xx-large;
}

.ref2-animate-line {
  height: 1px;
  background-color: #00C;
  width: 100%; 
  margin-bottom: 3vw;
}


