.ref2-body {
  margin: 0;
  padding: 2rem;
  background-color: #f8f8f8;
  color: #333;
}

.ref2-header p {
  font-size: larger;
}
.ref2-header h2 {
  font-size: xx-large;
}

.ref2-animate-line {
  height: 1px;
  background-color: #00C;
  width: 100%; 
  margin-bottom: 5vw;
}

.ref2-line-with-img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.5em;
}

.ref2-line-with-img img {
	height: 60px;
	width: auto;
}

@media (max-width: 762px) {
  .ref2-header p {
    font-size: medium;   /* alebo 1rem, podľa toho čo chcete */
  }

  .ref2-header h2 {
    font-size: large;    /* alebo 1.5rem, prípadne konkrétne px */
  }
}


