.ref3-body {
  margin: 0;
  padding: 2rem;
  background-color: #E8F4FF;;
  color: #333;
}

.ref3-body p {
  font-size: larger;
}
.ref3-body h2 {
  font-size: xx-large;
}

.ref3-animate-line {
  height: 1px;
  background-color: #00C;
  width: 100%; 
  margin-bottom: 3vw;
}


