.ref4-body {
	margin: 0;
	padding: 2rem;
	background-color: #f8f8f8;
	color: #333;
}

.ref4-header p {
	font-size: larger;
	margin: 0;
}

.ref4-header h2 {
	font-size: xx-large;
	margin: 0;
}

.ref4-animate-line {
	height: 1px;
	background-color: #00C;
	width: 100%;
	margin: 1vw 0;
}

.ref4-line-with-img {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.ref4-line-with-img img {
	height: 60px;
	width: auto;
}

/**************************************************************************/
.ref4-content-flex {
	display: flex;
	flex-direction: row;
	width: auto;
	box-sizing: border-box;
	padding: 1vw;
	gap: 1vw;
	color: #333;
}

/**********************************************/
.ref4-left {
	flex: 4;
	overflow: hidden;
	padding: 1vw;
	box-sizing: border-box;
}

.ref4-left-group {
	position: relative;
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: 600px;
	justify-self: center;
	align-self: center;
}

.ref4-img1 {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
}

.ref4-img2 {
	position: absolute;
	width: 60%;
	top: 55%;
	left: 40%;
}

/**********************************************/
.ref4-divider {
	width: 1px;
	background-color: #00C;
}

.ref4-right {
	flex: 4;
	padding: 1vw;
	box-sizing: border-box;
}

/**************************************************************************/
@media (max-width: 762px) {
	.ref4-header p {
		font-size: medium;
	}

	.ref4-header h2 {
		font-size: large;
	}

	.ref4-content-flex {
		flex-direction: column-reverse;
	}

	.ref4-divider {
		width: 100%;
		height: 1px;
		margin: 0 0;
	}
}
